<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Perfil - Acerca de mi</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Kenia Nieves</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Nombre</label>
                <span class="value">Kenia Nieves</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Fecha de Nacimiento</label>
                <span class="value">18 de Marzo del 2000</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Direcci&oacuten</label>
                <span class="value">Guayaquil , Ec</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Correo</label>
                <span class="value">klisnp18@gmail.com - kenia.nievesp@ug.edu.ec</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Tel&eacutefono</label>
                <span class="value">0996716599</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Stackoverflow</label>
                <span class="value"><a href="https://es.stackoverflow.com/users/148842/kenia-lisbeth-nieves-pincay" target="_blank">https://es.stackoverflow.com/users/148842/kenia-lisbeth-nieves-pincay</a></span>
                <div class="clear"></div>
            </li>
            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Github</label>
                <span class="value"><a href="https://github.com/KeniaNieves" target="_blank">https://github.com/KeniaNieves</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            "Cuando cambias el modo en que ves las cosas, las cosas que ves cambian tambi&eacuten." -Wayne Dyer
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            "Cuando el objetivo te parezca dif&iacutecil, no cambies el objetivo; busca un nuevo camino para llegar a &eacutel." -Confucio 

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.png" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
      
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Mi experiencia estudiantil</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Estudios Primarios
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Realic&eacute mis estudios primarios en la Escuela Evang&eacutelica Billingue "Rayitos de Sol"
                        #771, donde aprend&iacute acerca de los valores, c&oacutemo ser solidaria y comprensiva con los dem&aacutes, adem&aacutes de adquirir conocimientos b&aacutesicos en matem&aacuteticas, Lenguaje, ciencias naturales, entorno sociales e ingl&eacutes, durante esta etapa obtuve excelentes calificaciones por lo cual fui nombrada abanderada del pabell&oacuten de Guayaquil del periodo lectivo 2011-2012.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Estudios Secundarios
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Recib&iacute la Educaci&oacuten Secundaria en la Unidad Educativa Fiscal "Guayaquil" en la cual obtuve el t&iacutetulo de Bachiller T&eacutecnico en Inform&aacutetica, logrando adquirir nuevos aprendizajes b&aacutesicos en cuanto lenguajes de programaci&oacuten como C++ y Visual Basic, adem&aacutes de lenguaje de etiqueta HTML, creando pequeños programas para las ferias del colegio en el &uacuteltimo año de bachillerato.
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->